<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project2048.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E42AEA2A1C641C9300B5A520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42AEA431C641C9400B5A520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E42AEA4E1C641C9400B5A520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
